# Michael's .gitconfig
# (https://github.com/kmhofmann/dotfiles)
# =======================================

[user]
  # Edit and uncomment these:
  #email = XXXXXXXXX@XXXXX.XXX
  #name = XXXXXXX XXXXXXX

[push]
  default = simple

[core]
  editor = nvim

[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
  cia = commit --amend
  cdiff = diff --cached
  sdiff = diff --staged
  unstage = reset HEAD --
  glog = log --graph
  last = log -1 HEAD
  pullre = pull --rebase
  rclone = clone --recursive
  prune-branches = remote update origin --prune

  lg = !"git lg1"
  lgs = !"git lgs1"

  lg1 = !"git lgs1 --all"
  lg2 = !"git lgs2 --all"
  lg3 = !"git lgs3 --all"

  lgs1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  lgs2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lgs3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[commit]
  verbose = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
